<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @snippet.body %>
</p>

<p>
  <b>User:</b>
  <%= @snippet.user %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
